.nav{
    margin-bottom: 40px !important;
}
.active {color: #ffd1a0 !important;}
.nav img{
    width: 150px;
}
.nav .links {
    /* background-color: #fff; */
    background-color: var(--mainColor);
    /* box-shadow: 0px 0px 7px 0px rgba(255, 165, 0, 0.38); */
    padding: 20px;
    border-radius: 50px;
    margin-top: 30px;
}
.nav .links a{
    /* color: #777 !important; */
    color: #fff;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border-right: 1px solid #ccc;
    padding-right: 15px;
    transition: all .5s ease-in-out;
    text-decoration: none;
}
.nav .links a:last-of-type{
    border-right: unset;
}
.nav .links a:hover{
    color: #ffd1a0 !important;
}
.nav .links .icon-log{
    display: block;
    float: right;
}
.nav .links .icon-log svg{
    width: 23px;
    color: var(--subColor);
    margin-right: 2px;
}