body {
  margin: 0;
  font-family: Poppins !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
body::before{
  content: '';
  position: fixed;
  top: 40%;
  left: -58px;
  width: 130px;
  height: 130px;
  background-color: #f47f016e;
  border-radius: 50%;
}
/* body::after{
  content: '';
  position: fixed;
  top: 70%;
  right: -58px;
  width: 130px;
  height: 130px;
  background-color: #f47f016e;
  border-radius: 50%;
} */
body::after{
  content: url(./styles/images/services1.png);
  position: fixed;
  top: 50%;
  right: -58px;
  opacity: .2;
}
:root{
  --mainColor: #054570;
  --subColor: #f47f01;

}
@font-face{
  font-family: Poppins;
  src: url(../src/styles/Poppins-Regular.ttf);
}
